body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Montserrat-Bold', sans-serif;
}

p {
    color: #8f8f8f;
}


/* Headings */

.big-heading {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}


/* Containers */

.container-fluid {
    padding: 7% 15%;
}


/* section */

.colored-section {
    color: #fff;
    background-color: #ff4c68;
}

.white-section {
    background-color: #fff;
}


/* Nav Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 500;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}


/* Download Button */

.download-button {
    margin: 5% 3% 5% 0;
}


/* Title section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}


/* Title Image */

.title-image {
    position: absolute;
    width: 60%;
    transform: rotate(25deg);
    right: 25%;
}


/* Features */

#features {
    position: relative;
}

.feature-box {
    padding: 4.5%;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: 900;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
    color: #ff4c68;
}


/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing section*/

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
}

.pricing-column {
    padding: 3% 2%;
}


/* Footer */

#footer {
    font-weight: 900;
}

.cta-logo {
    padding: 20px 15px 30px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0deg);
    }
}